html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Brush Script MT", cursive;
}

.app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("./res/Background.png");
}

.header {
    text-align: center;
    padding: 20px 0;
}

.header h1 {
    margin: 0 0 10px 0;
    font-size: 4rem;
}

.header select {
    font-size: 2rem;
}

.slideshow {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.9s ease-out;
}

.slide:nth-last-child(2) {
    opacity: 1;
    transform: scale(1);
}